/*Global CSS File*/
body {
  background: rgb(116, 84, 116);
}



.main-content {
  display: flex;
  padding:10px;
  background:rgba(255,255,255,.6);
  gap: 10px;
  
}

/*Line only added to keep Food Dining images from breaking */
img {
  margin: 0 auto;
  margin-bottom: 5px;;
  max-width: 100%; 
  height: auto; 
  display: flex; 
}



@media only screen and (min-width: 768px) {
  .columns {
    display:flex;
  }
}
