/*Global CSS File*/
body {
  background: rgb(116, 84, 116);
}



.main-content {
  display: flex;
  padding:10px;
  background:rgba(255,255,255,.6);
  gap: 10px;
  
}

/*Line only added to keep Food Dining images from breaking */
img {
  margin: 0 auto;
  margin-bottom: 5px;;
  max-width: 100%; 
  height: auto; 
  display: flex; 
}

#app-form img,
#edit-app-form img {
  max-width: 100%;
  max-height: 200px;   /* or 250–300 if you want a bit bigger */
  height: auto;
  display: block;
  margin: 0 auto 1rem; /* center + space under it */
  object-fit: contain;
}



@media only screen and (min-width: 768px) {
  .columns {
    display:flex;
  }
}
