/*Global CSS File*/
body {
  background: rgb(116, 84, 116);
}



.main-content {
  display: flex;
  padding:10px;
  background:rgba(255,255,255,.6);
  gap: 10px;
  
}





@media screen and (min-width: 768px) {
  .columns {
    display:flex;
  }
}
