:root {
  --primaryColor: #0E0F33;
  --secondaryColor: #B8B8D9;
  --thirdColor: #81B337;
  --pageChangerO: #416806;
    
}

#contact {
  flex: 1;
  display: flex;
  justify-content: space-between;
  
}

/* Make each column take up 1/3 of the row */
#contact > div {
  flex: 1;
  padding: 15px;
  
}

#contact h2 {
  text-align: center;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 10px;
   border: 2px solid var(--primaryColor);
  border-radius: 5px;
}

#contact img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border: 2px solid var(--primaryColor);
  border-radius: 10px;
  box-shadow:0 2px 5px var(--secondaryColor);
}

#contact p {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 5px;
   border: 2px solid var(--primaryColor);
  border-radius: 10px;
  box-shadow:0 2px 5px var(--secondaryColor);
}

.Why {
    background-color: rgb(190, 189, 189);
}

.About-Me {
    background-color: rgb(134, 134, 134);

}

.Feedback {
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 89, 89);
  text-align: center;
  gap: 5px;
 
}

.Feedback textarea {
  width: 300px;
}

#contact-submit-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  
}

#contact-submit-btn:hover {
  background-color: var(--thirdColor);
  
}



#contact-result {
  display: none;
  color: black;
  font-weight: bold;
  background-color: var(--secondaryColor);
  padding: 10px;
  width: fit-content;
  border: 2px var(--primaryColor);
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-row  label {
  align-self: flex-start;
  background-color: var(--primaryColor);
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
 
}

.form-row input, textarea {
    align-self: flex-start;

}

.form-row button {
  background-color: #d7d7e4;
  cursor: pointer;
  padding: 5px;
}

.form-row button:hover {
  background-color: var(--thirdColor);
 
}


.Feedback span {
  
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: #0E0F33;
}

#map {
  border: 2px var(--secondaryColor);
  border-radius: 5px;
  width: 500px;
  height: 500px;
  background-color: var(--primaryColor);
  padding: 2px;
}

.Feedback #social-nav a {
   display: flex;
   flex-direction: column;
}


.Feedback #social-nav a {
   text-decoration: none;
   font-size: 40px;
   color: black;
}

.Feedback #social-nav a:hover {
   color:white;
}

@media (max-width: 900px) {
  #About {
    align-items: center;
  }
  #contact {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    flex-direction: column;
    gap: 20px;
  }

  #contact > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    align-items: center;
  }

  #map {
    width: 100%;
  }

  .form-row {
   display: flex;
   flex-direction: column;
   justify-content: center;
  }

  .form-row label {
    padding: 10px;
  }

  .form-row input, textarea {
    height: 50px;

  }

  .Feedback #social-nav a {
   display: flex;
   flex-direction: column;
  }

  .Feedback #social-nav a {
   font-size: 50px;
  }


}

@media (max-width: 768px) {
  #About {
    align-items: center;
  }
  #contact {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    flex-direction: column;
    gap: 20px;
  }

  #contact > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    align-items: center;
  }

  #map {
    width: 100%;
  }

  .form-row {
   display: flex;
   flex-direction: column;
   justify-content: center;
  }

  .form-row label {
    padding: 10px;
  }

  .form-row input, textarea {
    height: 50px;

  }

  .Feedback #social-nav a {
   display: flex;
   flex-direction: column;
  }

  .Feedback #social-nav a {
   font-size: 50px;
  }

}
