:root {
  --primaryColor: #0E0F33;
  --secondaryColor: #B8B8D9;
  --thirdColor: #81B337;
  --pageChangerO: #416806;
    
}




.modal-backdrop {
  position: fixed;
  inset: 0; /*Places Edit Form Center in the Screen*/
  height: 100vh;
  background-color:  rgba(0, 0, 0, 0.25);
  
  border: var(--primaryColor) 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.modal-card {
  background-color: var(--secondaryColor);
  border: var(--primaryColor) 2px solid;
  padding: 10px;
}

.modal-card.centered {
  overflow-y: auto; /*to scroll inside edit form, so it dont take up whole*/
  max-height: 99vh;
}

.modal-card button {
  margin: 5px;
  background-color: var(--primaryColor);
  color: white;
  cursor: pointer;
}

.modal-card button:hover {
  background-color: var(--thirdColor);
}

.table-wrap {
    display: flex;
    height: fit-content;
}

.table-style  {
   width: 100%;
   max-width: 100%;
   margin: 20px auto;
   box-shadow: 0 2px 5px #0E0F33;
    
}

.table-style img {
    width: fit-content;
}

.table-style th, td {
    border: 1px solid;
    padding: 5px;
}

.table-style th  {
  position: sticky;
   height:fit-content;
   padding: 5px 5px;
   background-color: var(--primaryColor);
   color: var(--secondaryColor);
   
}

.row-actions {
  display: flex;
  flex-direction: column;
  position: relative;
}

.table-style tr:nth-child(even) { 
  background-color: var(--secondaryColor);
}

/*My laptop is 1466*/
@media only screen and (max-width: 1500px) {
  .table-style {
    width: 90%;
  }

  .table-style th {
    
    font-size: 10px;
    align-items: center;
   padding: 5px;
    width: 100%;
    
  }

  .table-style td {
    
    font-size: 10px;
    align-items: center;
    padding: 5px;
    width: 100%;
    
  }

  img {
    max-width: 100%;
    height: auto;
  }
}



@media (max-width: 900px) {

  .table-style {
    width: fit-content;
    box-shadow: 0px;
  }

  .table-style table,
  .table-style thead,
  .table-style tbody,
  .table-style th,
  .table-style td,
  .table-style tr {
    display: block;
    width: 100%;

  }

  /*Hide Headers*/
  .table-style th {
    display: none;
    
  }

  .table-style tr {
    
    padding: 15px;
    width:fit-content;
    border: 1px solid black;
    border-radius: 8px;
    gap: 5px;
  }

  .table-style td {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    width: 100%;
    
  }

  .table-style td::before {
    
    font-weight: bold;
    margin: 3px;
  }

  .table-style td.options button {
    margin: 3px;
    padding: 30px;
  }

  .row-actions {
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .row-actions button {
    padding: 10px;
    width: 200px;
    height: 50px;
    
  }

}

@media (max-width: 768px) {
 

  .table-style {
    width: fit-content;
    box-shadow: 0px;
  }

  .table-style table,
  .table-style thead,
  .table-style tbody,
  .table-style th,
  .table-style td,
  .table-style tr {
    display: block;
    width: 100%;

  }

  /*Hide Headers*/
  .table-style th {
    display: none;
    
  }

  .table-style tr {
    padding: 15px;
    width:max-content;
    border: 1px solid black;
    border-radius: 8px;
    
  }

  .table-style td {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    width: 100%;
    
  }

  .table-style td::before {
    
    font-weight: bold;
    margin: 3px;
  }

  .table-style td.options button {
    margin: 3px;
    padding: 30px;
  }

  .row-actions {
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .row-actions button {
    padding: 10px;
    width: 200px;
    height: 50px;
    
  }

  img {
    max-width: 25%;
    max-height: 25%;
    height: auto;
  }

}