:root {
  --primaryColor: #0E0F33;
  --secondaryColor: #B8B8D9;
  --thirdColor: #81B337;
  --pageChangerO: #416806;
    
}

section {
    display: flex;
}

@media (max-width: 900px) {
  #database .main-content {
    width: 75vw;
    
  }

  section {
   
  }
}


@media (max-width: 768px) {
  #database .main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

