:root {
  --primaryColor: #0E0F33;
  --secondaryColor: #B8B8D9;
  --thirdColor: #81B337;
  --pageChangerO: #416806;
    
}

.table-wrap {
    display: flex;
    height: fit-content;
}

.table-style  {
   width: 100%;
   max-width: 100%;
   margin: 20px auto;
   box-shadow: 0 2px 5px #0E0F33;
    
}

.table-style img {
    width: fit-content;
}

.table-style th, td {
    border: 1px solid;
    padding: 5px;
}

.table-style th  {
  position: sticky;
   height:fit-content;
   padding: 5px 5px;
   background-color: var(--primaryColor);
   color: var(--secondaryColor);
   
}

.row-actions {
  display: flex;
  flex-direction: column;
}

.table-style tr:nth-child(even) { 
  background-color: var(--secondaryColor);
}

/*My laptop is 1466*/
@media only screen and (max-width: 1500px) {

  img {
    max-width: 100%;
    height: auto;
  }
}