:root {
  --primaryColor: #0E0F33;
  --secondaryColor: #B8B8D9;
  --thirdColor: #81B337;
  --pageChangerO: #416806;
    
}

section {
    display: flex;
    gap: 10px;
}

@media (max-width: 1175px) {
  section {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


}

@media (max-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}