#page-changer {
    background-color: var(--thirdColor);
    /* display: flex;
    flex-direction: column;
    height: auto;
    width: fit-content; */
    border:var(--pageBorder);
    
    height: 100vh;
    
}

#page-changer ul {
  list-style: none;
  display: block;
  padding: 10px 20px;
  gap: 10px;
  margin: 2px;
  border-top: 2px solid var(--pageChangerO);
  border-left: 2px solid var(--pageChangerO);
  border-right: 2px solid var(--pageChangerO);
  border-bottom: 2px solid var(--pageChangerO);
  box-shadow: 0 2px 5px #0E0F33;
 
  
}

#page-changer li {
  display: block;
  padding: 10px 20px;
   border-top: 2px solid var(--pageChangerO);
  border-left: 2px solid var(--pageChangerO);
  border-right: 2px solid var(--pageChangerO);
  border-bottom: 2px solid var(--pageChangerO);
  box-shadow: 0 2px 5px #0E0F33;

}

#page-changer li a {
   text-decoration: none;
   display: block;
   color: var(--primaryColor);
   padding: 5px;
}

#page-changer a:hover{
   text-decoration: none;
   color: white;
   background: #2f4908;
}


#page-changer .hide-small {
    display:none;
   
}

#page-changer.collapsed {
  width: 90px;
}

#toggle-nav {
  text-align: center;
  text-decoration: none;
  color: black;
  
 
}

@media (max-width: 768px) {

  nav #page-changer {
    
    width: 100vw;
  }

  #page-changer {
    display: flex;
    height: fit-content;
    align-items: center;
    width: 100vw;
    

  }

  #page-changer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
  }

  
}