:root {
  --primaryColor: #0E0F33;
  --secondaryColor: #B8B8D9;
  --thirdColor: #81B337;
  --pageChangerO: #416806;
  --border: border-top: 2px solid var(--primaryColor),
            border-left: 2px solid var(--primaryColor),
            border-right: 2px solid var(--primaryColor),
            border-bottom: 2px solid var(--primaryColor),
            box-shadow: 0 2px 5px var(--primaryColor);
    
}

.savedList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondaryColor);
  border: 2px solid .76769f;
  padding: 10px;
  border-radius: 5px;
   border-top: 2px solid var(--primaryColor);
  border-left: 2px solid var(--primaryColor);
  border-right: 2px solid var(--primaryColor);
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: 0 2px 5px var(--primaryColor);
    
}

.savedList ul {
  padding: 10px 20px;
  gap: 15px;
  margin: 2px;
  border-top: 2px solid var(--primaryColor);
  border-left: 2px solid var(--primaryColor);
  border-right: 2px solid var(--primaryColor);
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: 0 2px 5px var(--primaryColor);
  border-radius: 5px;
   
}

.savedList li {
   list-style: none;
   display: block;
   padding: 5px;
   border-top: 2px solid .76769f;
  border-left: 2px solid .76769f;
  border-right: 2px solid .76769f;
  border-bottom: 2px solid .76769f;
  border-radius: 5px;
   
}

.savedList a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 20px;
    width: 100;
    /* padding: 20px; */
}

.savedList a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}