:root {
  --primaryColor: #0E0F33;
  --secondaryColor: #B8B8D9;
  --thirdColor: #81B337;
  --pageChangerO: #416806;
    
}

.Search {

   align-items: center;
    gap: 10px;
}


form #search-bar {
  
}

#search-bar {
  background-color: var(--secondaryColor);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px white;
  
    
}


#search-bar input {
   width: 300px;
   font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  
    
}

#search-bar button {
  width: fit-content;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  font-size: 14px;
  padding: 5px;
}